[Unit]
After=network-online.target sound.target
Wants=network-online.target sound.target
Description=Scream Audio Receiver

[Service]
User=screamd
EnvironmentFile=-/etc/scream.conf
EnvironmentFile=-/etc/scream.d/%I.conf
ExecStart=/usr/bin/env -- scream $SCREAM_DEFAULT_ARGS $SCREAM_ARGS

[Install]
WantedBy=multi-user.target
Alias=screamd.service
